In [1]:
import pandas as pd
import numpy as np

In [4]:
nondep = pd.read_csv("non_dep_data.csv")
nondep.head(25)

,id,content,date
0,fyc2yd,NaN,2020-04-10 14:19:47
1,fyc2vf,NaN,2020-04-10 14:19:36
2,fmz6r7y,Teleportation.,2020-04-10 14:20:05
3,fyc2um,NaN,2020-04-10 14:19:33
4,fmz6qtc,Don't fear the reaper,2020-04-10 14:19:52
5,fyc2qi,NaN,2020-04-10 14:19:20
6,fyc2ma,NaN,2020-04-10 14:19:08
7,fyc2e0,NaN,2020-04-10 14:18:39
8,fyc295,NaN,2020-04-10 14:18:21
9,fmz6qee,Holy Mountain - Sleep,2020-04-10 14:19:38
10,fmz6qst,Comfortably Numb - Pink Floyd,2020-04-10 14:19:51
11,fyc23q,NaN,2020-04-10 14:18:04
12,fmz6pxw,"""Give your balls a tug, titfucker. Fight me, s...",2020-04-10 14:19:24
13,fyc1z1,NaN,2020-04-10 14:17:46
14,fyc1wl,NaN,2020-04-10 14:17:38
15,fmz6nqd,A random date and time.,2020-04-10 14:18:15
16,fmz6oma,No but your mum did,2020-04-10 14:18:43
17,fmz6pc4,"""did I need you to?"" is my go-to",2020-04-10 14:19:04
18,fmz6qeo,"You’ve never asked how to read, but it was a c...",2020-04-10 14:19:38
19,fyc1v0,NaN,2020-04-10 14:17:32
20,fmz6n41,Cut your ear off,2020-04-10 14:17:54
21,fmz6q4t,Cutting on the wrong spots,2020-04-10 14:19:30
22,fmz6qqx,Infect you with Coronavirus,2020-04-10 14:19:50
23,fyc1oh,NaN,2020-04-10 14:17:10
24,fmz6o3i,Almost all of our technology is detrimental to...,2020-04-10 14:18:26

In [5]:
nondep.shape

(10078, 3)

In [6]:
nondep.dropna(inplace=True)

In [7]:
nondep.shape

(9187, 3)

In [12]:
english = pd.read_csv('newenglishPostsall1.csv', index_col=0)
df2 = pd.read_csv('newenglishPostsall2.csv', index_col=0)

dep = english.append(df2,ignore_index = True)
dep.head()

,DATE,NAME,TEXT
0,\n \n ...,['Nags'],\nMy sister is depressed. She breaks down ever...
1,\n \n ...,['Saoirse M'],\nI started to feel more like myself last year...
2,\n \n ...,['emmalou'],\nHi There\nJust posting as a way to vent frus...
3,\n \n ...,['Pandora Paradoxical'],"\nHi, I am a 39 year old woman who has undiagn..."
4,\n \n ...,['AverageAusGuy'],\nHi all\nI have had anxiety and depression on...

In [13]:
dep.shape

(3641, 3)

In [14]:
nondep = nondep.sample(3650)

In [15]:
nondep.shape

(3650, 3)

In [16]:
dep.drop(columns=["NAME"], inplace=True)

In [17]:
dep.shape

(3641, 2)

In [18]:
nondep.drop(columns=["id"], inplace=True)

In [19]:
nondep.rename(columns={"date": "DATE", "content": "TEXT"}, inplace=True)

In [20]:
nondep.head()

                             TEXT                 DATE
976             Get back together  2020-04-10 13:51:41
7360             The opposite sex  2020-04-10 12:07:28
128                        Finish  2020-04-10 14:14:13
9214  This isn’t Tumblr..... (NO)  2020-04-10 12:23:33
4078      Lol that was a good one  2020-04-10 13:06:33

In [21]:
nondep["DEPRESSED"] = 0
dep["DEPRESSED"] = 1

In [24]:
nondep.head()

                             TEXT                 DATE  DEPRESSED
976             Get back together  2020-04-10 13:51:41          0
7360             The opposite sex  2020-04-10 12:07:28          0
128                        Finish  2020-04-10 14:14:13          0
9214  This isn’t Tumblr..... (NO)  2020-04-10 12:23:33          0
4078      Lol that was a good one  2020-04-10 13:06:33          0

In [25]:
dep.head()

,DATE,TEXT,DEPRESSED
0,\n \n ...,\nMy sister is depressed. She breaks down ever...,1
1,\n \n ...,\nI started to feel more like myself last year...,1
2,\n \n ...,\nHi There\nJust posting as a way to vent frus...,1
3,\n \n ...,"\nHi, I am a 39 year old woman who has undiagn...",1
4,\n \n ...,\nHi all\nI have had anxiety and depression on...,1

In [26]:
dep["DATE"]

0       \n                            \n              ...
1       \n                            \n              ...
2       \n                            \n              ...
3       \n                            \n              ...
4       \n                            \n              ...
                              ...
3636    \n                            \n              ...
3637    \n                            \n              ...
3638    \n                            \n              ...
3639    \n                            \n              ...
3640    \n                            \n              ...
Name: DATE, Length: 3641, dtype: object

In [27]:
dep['DATE'] = dep['DATE'].str.replace('[\n\t\t\t]','')
dep['DATE'] = dep['DATE'].str.strip()
dep.head()

,DATE,TEXT,DEPRESSED
0,14 March 2020,\nMy sister is depressed. She breaks down ever...,1
1,12 March 2020,\nI started to feel more like myself last year...,1
2,13 March 2020,\nHi There\nJust posting as a way to vent frus...,1
3,7 February 2020,"\nHi, I am a 39 year old woman who has undiagn...",1
4,12 March 2020,\nHi all\nI have had anxiety and depression on...,1

In [28]:
dep["DATE"]

0         14 March 2020
1         12 March 2020
2         13 March 2020
3       7 February 2020
4         12 March 2020
             ...
3636    13 January 2014
3637    15 January 2014
3638    12 January 2014
3639    15 January 2014
3640    11 January 2014
Name: DATE, Length: 3641, dtype: object

In [34]:
dep['DATE'] = pd.to_datetime(dep['DATE']).dt.strftime('%Y-%m-%d')

In [35]:
dep.head()

         DATE                                               TEXT  DEPRESSED
0  2020-03-14  \nMy sister is depressed. She breaks down ever...          1
1  2020-03-12  \nI started to feel more like myself last year...          1
2  2020-03-13  \nHi There\nJust posting as a way to vent frus...          1
3  2020-02-07  \nHi, I am a 39 year old woman who has undiagn...          1
4  2020-03-12  \nHi all\nI have had anxiety and depression on...          1

In [ ]:
dataset =